@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?ebdb8edcc19f0076ce498247ae2f7636") format("truetype"),
url("../fonts/flaticon.woff?ebdb8edcc19f0076ce498247ae2f7636") format("woff"),
url("../fonts/flaticon.woff2?ebdb8edcc19f0076ce498247ae2f7636") format("woff2"),
url("../fonts/flaticon.eot?ebdb8edcc19f0076ce498247ae2f7636#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?ebdb8edcc19f0076ce498247ae2f7636#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-dove:before {
    content: "\f101";
}
.flaticon-flyboard:before {
    content: "\f102";
}
.flaticon-silent:before {
    content: "\f103";
}
